In [234]:
decode_key = unquote('uqlOOXXu3JweI%2FFWiyLC%2BlGR6nvzOCh8gL2gWAfYzKtbS7j6jtz1SUVwHJGfRn62vWxrPyDfjlcMCmO88ogCvQ%3D%3D')
decode_key

'uqlOOXXu3JweI/FWiyLC+lGR6nvzOCh8gL2gWAfYzKtbS7j6jtz1SUVwHJGfRn62vWxrPyDfjlcMCmO88ogCvQ=='

In [6]:
queryParams = urlencode({quote_plus('ServiceKey') : 'uqlOOXXu3JweI/FWiyLC+lGR6nvzOCh8gL2gWAfYzKtbS7j6jtz1SUVwHJGfRn62vWxrPyDfjlcMCmO88ogCvQ==', quote_plus('searchStDt') : '20000101', quote_plus('searchEdDt') : '20081231', quote_plus('pageNo') : '1', quote_plus('numOfRows') : '2000' })

open_url='http://openapi.forest.go.kr/openapi/service/forestDisasterService/frstFireOpenAPI?'+queryParams

In [7]:
res=requests.get(open_url)
soup=BeautifulSoup(res.content,'html.parser')

In [9]:
# soup

2

In [10]:
diravgl=[]
dirmaxl=[]
dmgareal=[]
dmgmoneyl=[]
exintgtml=[]
extingdtl=[]
humidcurrl=[]
humidminl=[]
humidrell=[]
numOfRowsl=[]
ocurcausel=[]
ocurdol=[]
ocurdtl=[]
ocuremdl=[]
ocurGml=[]
ocurjibunl=[]
ocurril=[]
ocursggl=[]
ocuryoill=[]
ownersecl=[]
pageNol=[]
rainamountl=[]
raindaysl=[]
resultCodel=[]
resultMsgl=[]
riskavgl=[]
riskmaxl=[]
tempavgl=[]
totalCountl=[]
windavgl=[]
windmaxl=[]

In [11]:
data=soup.find_all('item')

for item in data:
    diravgl.append(item.find('diravg').text)
    dirmaxl.append(item.find('dirmax').text)
    dmgareal.append(item.find('dmgarea').text)
    dmgmoneyl.append(item.find('dmgmoney').text)
    exintgtml.append(item.find('exintgtm').text)
    extingdtl.append(item.find('extingdt').text)
    humidcurrl.append(item.find('humidcurr').text)
    humidminl.append(item.find('humidmin').text)
    humidrell.append(item.find('humidrel').text)
#     numOfRowsl.append(item.find('numOfRows').text)
    ocurcausel.append(item.find('ocurcause').text)
    ocurdol.append(item.find('ocurdo').text)
    ocurdtl.append(item.find('ocurdt').text)
    ocuremdl.append(item.find('ocuremd').text)
#     ocurGml.append(item.find('ocurGm').text)
    ocurjibunl.append(item.find('ocurjibun').text)
    ocurril.append(item.find('ocurri').text)
    ocursggl.append(item.find('ocursgg').text)
    ocuryoill.append(item.find('ocuryoil').text)
    ownersecl.append(item.find('ownersec').text)
#     pageNol.append(item.find('pageNo').text)
    rainamountl.append(item.find('rainamount').text)
    raindaysl.append(item.find('raindays').text)
#     resultCodel.append(item.find('resultCode').text)
#     resultMsgl.append(item.find('resultMsg').text)
    riskavgl.append(item.find('riskavg').text)
    riskmaxl.append(item.find('riskmax').text)
    tempavgl.append(item.find('tempavg').text)
#     totalCountl.append(item.find('totalCount').text)
    windavgl.append(item.find('windavg').text)
    windmaxl.append(item.find('windmax').text)

In [12]:
forestfire=pd.DataFrame()
forestfire['diravg']=diravgl
forestfire['dirmax']=dirmaxl
forestfire['dmgarea']=dmgareal
forestfire['dmgmoney']=dmgmoneyl
forestfire['exintgtm']=exintgtml
forestfire['extingdt']=extingdtl
forestfire['humidcurr']=humidcurrl
forestfire['humidmin']=humidminl
forestfire['humidrel']=humidrell
# forestfire['numOfRows']=numOfRowsl
forestfire['ocurcause']=ocurcausel
forestfire['ocurdo']=ocurdol
forestfire['ocurdt']=ocurdtl
forestfire['ocuremd']=ocuremdl
# forestfire['ocurGm']=ocurGml
forestfire['ocurjibun']=ocurjibunl
forestfire['ocurri']=ocurril
forestfire['ocursgg']=ocursggl
forestfire['ocuryoil']=ocuryoill
forestfire['ownersec']=ownersecl
# forestfire['pageNo']=pageNol
forestfire['rainamount']=rainamountl
forestfire['raindays']=raindaysl
# forestfire['resultCode']=resultCodel
# forestfire['resultMsg']=resultMsgl
forestfire['riskavg']=riskavgl
forestfire['riskmax']=riskmaxl
forestfire['tempavg']=tempavgl
# forestfire['totalCount']=totalCountl
forestfire['windavg']=windavgl
forestfire['windmax']=windmaxl

In [13]:
forestfire

,diravg,dirmax,dmgarea,dmgmoney,exintgtm,extingdt,humidcurr,humidmin,humidrel,ocurcause,...,ocursgg,ocuryoil,ownersec,rainamount,raindays,riskavg,riskmax,tempavg,windavg,windmax
0,WNW,,0.2,0,40,200812311500,0.0,0.0,42.7,쓰레기소각,...,문경,수,국,2.5,11,47.3,70.0,-1.4,4.1,0.0
1,W,,0.1,37,35,200812311355,0.0,0.0,45.6,농산폐기물소각,...,진주,수,사,2.0,10,58.1,82.0,4.1,1.5,0.0
2,WNW,,0.1,705,50,200812302225,0.0,0.0,39.7,방화추정,...,동,화,사,10.5,9,65.7,82.0,-0.5,5.8,0.0
3,W,,0.2,584,138,200812301400,0.0,0.0,37.0,농산폐기물소각,...,포항,화,사,17.5,9,69.2,88.0,3.9,3.8,0.0
4,정온,,0.08,223,45,200812292230,0.0,0.0,49.5,입산자실화,...,고령,월,사,3.0,8,61.2,82.0,2.0,0.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,NE,,0.7,1948,140,200311041430,0.0,0.0,41.0,성묘객실화,...,경주,화,사,9.5,7,0.0,0.0,18.8,1.3,0.0
1996,WSW,,0.3,810,46,200311011650,0.0,0.0,21.0,농산폐기물소각,...,울진,토,사,0.5,4,0.0,0.0,24.1,4.6,0.0
1997,WNW,,0.5,0,320,200310302240,0.0,0.0,34.0,담배불실화,...,평창,목,국,8.0,2,0.0,0.0,11.6,5.3,0.0
1998,SE,,0.02,20,35,200310301640,0.0,0.0,47.0,입산자실화,...,북,목,사,2.5,2,0.0,0.0,18.1,2.3,0.0
1999,WSW,,0.15,2036,125,200310271800,0.0,0.0,22.0,입산자실화,...,봉화,월,국,7.5,14,0.0,0.0,16.8,1.4,0.0

In [26]:
forestfire.describe()

,diravg,dirmax,dmgarea,dmgmoney,exintgtm,extingdt,humidcurr,humidmin,humidrel,ocurcause,...,ocursgg,ocuryoil,ownersec,rainamount,raindays,riskavg,riskmax,tempavg,windavg,windmax
count,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,...,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000
unique,22,1,96,518,267,1953,1,1,287,150,...,196,7,2,111,63,517,64,373,108,1
top,W,,0.1,0,40,200503141630,0.0,0.0,31.0,입산자실화,...,동,일,사,0.5,6,0.0,0.0,15.1,2.4,0.0
freq,259,2000,346,681,103,3,2000,2000,52,465,...,71,361,1854,294,178,382,382,25,57,2000

In [234]:
decode_key = unquote('uqlOOXXu3JweI%2FFWiyLC%2BlGR6nvzOCh8gL2gWAfYzKtbS7j6jtz1SUVwHJGfRn62vWxrPyDfjlcMCmO88ogCvQ%3D%3D')
decode_key

'uqlOOXXu3JweI/FWiyLC+lGR6nvzOCh8gL2gWAfYzKtbS7j6jtz1SUVwHJGfRn62vWxrPyDfjlcMCmO88ogCvQ=='

In [6]:
queryParams = urlencode({quote_plus('ServiceKey') : 'uqlOOXXu3JweI/FWiyLC+lGR6nvzOCh8gL2gWAfYzKtbS7j6jtz1SUVwHJGfRn62vWxrPyDfjlcMCmO88ogCvQ==', quote_plus('searchStDt') : '20000101', quote_plus('searchEdDt') : '20081231', quote_plus('pageNo') : '1', quote_plus('numOfRows') : '2000' })

open_url='http://openapi.forest.go.kr/openapi/service/forestDisasterService/frstFireOpenAPI?'+queryParams

In [7]:
res=requests.get(open_url)
soup=BeautifulSoup(res.content,'html.parser')

In [27]:
forestfire.sort_values("dmgarea",ascending=False)

,diravg,dirmax,dmgarea,dmgmoney,exintgtm,extingdt,humidcurr,humidmin,humidrel,ocurcause,...,ocursgg,ocuryoil,ownersec,rainamount,raindays,riskavg,riskmax,tempavg,windavg,windmax
1186,ESE,,973.0,4636000,3207,200504060800,0.0,0.0,41.0,입산자실화추정,...,양양,월,사,11.0,13,35.0,51.0,14.3,6.5,0.0
1142,S,,96.0,164730,230,200504271645,0.0,0.0,48.0,논밭두렁소각,...,의성,수,사,8.0,7,79.0,93.0,26.7,5.3,0.0
1414,W,,9.06,25776,240,200501111720,0.0,0.0,22.0,군사훈련실화,...,울진,화,사,2.5,18,80.0,90.0,4.0,8.3,0.0
1166,ESE,,8.55,24711,317,200504161100,0.0,0.0,28.0,성묘객실화,...,고성,토,국,13.0,6,78.0,87.0,11.9,1.9,0.0
893,WNW,,8.0,24000,1526,200603130830,0.0,0.0,16.0,어린이불장난,...,동,일,사,1.5,11,85.6,95.0,1.2,7.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,ENE,,0.01,29,45,200810171320,0.0,0.0,50.2,농산부산물소각,...,진해,금,사,14.5,27,62.1,72.0,25.4,1.3,0.0
1878,NW,,0.01,200,25,200402141625,0.0,0.0,16.0,쓰레기소각,...,달성,토,사,0.7,7,0.0,0.0,9.2,11.5,0.0
283,W,,0.01,0,20,200803021555,0.0,0.0,43.5,쓰레기소각추정,...,광산,일,사,9.5,5,76.0,84.0,13.4,2.0,0.0
1664,NW,,0.01,10,35,200404060715,0.0,0.0,18.0,차량전복실화,...,강릉,화,국,3.0,3,0.0,0.0,18.2,3.4,0.0
989,NNE,,0.01,0,25,200601221335,0.0,0.0,46.0,입산자실화,...,무안,일,사,8.5,6,60.4,67.0,4.9,10.5,0.0

```




----------------------------------------------------------공휴일----------------------------------------------------------------





```

In [19]:
from bs4 import BeautifulSoup

In [20]:
from urllib import request
from urllib.request import urlopen
from urllib.parse import urlencode, quote_plus
from urllib.parse import unquote

In [21]:
decode_key = unquote('iRStjBx1qalghgUZ9w7uHqMnYYkocN0sGO76c2avWNHUvs0%2FsYULEzdZthhrkPSzll3n4rz%2BrtivsuU1Ub4bxA%3D%3D')
decode_key

'iRStjBx1qalghgUZ9w7uHqMnYYkocN0sGO76c2avWNHUvs0/sYULEzdZthhrkPSzll3n4rz+rtivsuU1Ub4bxA=='

In [22]:
locdatel=[]
seql=[]
dateKindl=[]
isHolidayl=[]
dateNamel=[]
y=[]

In [23]:
for year in ['2015','2016','2017','2018','2019']:
    queryParams = urlencode({ quote_plus('ServiceKey') : 'iRStjBx1qalghgUZ9w7uHqMnYYkocN0sGO76c2avWNHUvs0/sYULEzdZthhrkPSzll3n4rz+rtivsuU1Ub4bxA==',quote_plus('solYear') :year ,quote_plus('numOfRows') : '100'})
    open_url='http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo?'+queryParams

    res=requests.get(open_url)
    soup=BeautifulSoup(res.content,'html.parser')

    data=soup.find_all('item')
    for item in data:
        locdatel.append(item.find('locdate').text)
        seql.append(item.find('seq').text)
        isHolidayl.append(item.find('isholiday').text)
        dateNamel.append(item.find('datename').text)
        y.append(year)

In [24]:
holi=pd.DataFrame()
holi['locdate']=locdatel
holi['seq']=seql
holi['isHoliday']=isHolidayl
holi['dateName']=dateNamel
holi['year']=y

In [25]:
holi[holi.year=='2019']

     locdate seq isHoliday dateName  year
74  20190101   1         Y     1월1일  2019
75  20190204   1         Y       설날  2019
76  20190205   1         Y       설날  2019
77  20190206   1         Y       설날  2019
78  20190301   1         Y      삼일절  2019
79  20190505   1         Y     어린이날  2019
80  20190506   1         Y    대체공휴일  2019
81  20190512   1         Y   부처님오신날  2019
82  20190606   1         Y      현충일  2019
83  20190717   1         N      제헌절  2019
84  20190815   1         Y      광복절  2019
85  20190912   1         Y       추석  2019
86  20190913   1         Y       추석  2019
87  20190914   1         Y       추석  2019
88  20191003   1         Y      개천절  2019
89  20191009   1         Y      한글날  2019
90  20191225   1         Y    기독탄신일  2019

In [26]:
import datetime
from datetime import date

In [27]:
t=['월','화','수','목','금','토','일']

In [28]:
holi['week']=holi['locdate'].apply(lambda x: t[datetime.datetime.strptime(x,'%Y%m%d').weekday()])

In [29]:
holi[holi['year']=='2019']

     locdate seq isHoliday dateName  year week
74  20190101   1         Y     1월1일  2019    화
75  20190204   1         Y       설날  2019    월
76  20190205   1         Y       설날  2019    화
77  20190206   1         Y       설날  2019    수
78  20190301   1         Y      삼일절  2019    금
79  20190505   1         Y     어린이날  2019    일
80  20190506   1         Y    대체공휴일  2019    월
81  20190512   1         Y   부처님오신날  2019    일
82  20190606   1         Y      현충일  2019    목
83  20190717   1         N      제헌절  2019    수
84  20190815   1         Y      광복절  2019    목
85  20190912   1         Y       추석  2019    목
86  20190913   1         Y       추석  2019    금
87  20190914   1         Y       추석  2019    토
88  20191003   1         Y      개천절  2019    목
89  20191009   1         Y      한글날  2019    수
90  20191225   1         Y    기독탄신일  2019    수

In [30]:
holi.head(10)

    locdate seq isHoliday dateName  year week
0  20150101   1         Y       신정  2015    목
1  20150218   1         Y       설날  2015    수
2  20150219   1         Y       설날  2015    목
3  20150220   1         Y       설날  2015    금
4  20150301   1         Y      삼일절  2015    일
5  20150505   1         Y     어린이날  2015    화
6  20150525   1         Y    석가탄신일  2015    월
7  20150606   1         Y      현충일  2015    토
8  20150717   1         N      제헌절  2015    금
9  20150815   1         Y      광복절  2015    토

In [31]:
holi.to_csv("holi.csv",index=False,encoding="euc-kr")